.caixa {
    background-color: red;
}

.titulo {
    color: white !important;
    font-weight: bold !important;
}

.botao {
    border-color: white !important;
    background-color: red;
    color: white !important
}

.postagens {
    background-color: white;
}